<app-menu></app-menu>
<div class="container centrar">


  <h1 class="u-custom-font u-font-abril-fatface u-text u-title u-text-2 container">Ahorcado de Nombre de Paises</h1>

  <div>
    &nbsp;
    <span class="container" *ngFor="let esp of  espacios ">
      <span *ngIf="contiene(esp)">
        {{esp}} &nbsp;
      </span>
      <span *ngIf="!contiene(esp)">
        _ &nbsp;
      </span>
    </span>
  </div>

  <div>
    <input title="" placeholder="Ingrese sus letras" class="caja" type="text" maxlength="1" (keyup)="validar()" [(ngModel)]="letra">
    <div class="my-4">
      <h2>Letras ya elegidas</h2>
      <label>{{miAhorcado.letrasElegidas}}</label>
    </div>
  </div>
  <div>
    {{mensaje}}
    <div>{{this.control}}</div>
    <div>{{this.espacios}}</div>
  </div>
</div>












