
<app-menu></app-menu>
<div class="row py-2 my-p2 text-large-right">
  <h2 >Bienvenido: {{usuarioLogeado()}}</h2>

</div>

<div class="row-2" *ngIf="nuevo">
    <app-nuevo-producto [prod]="nuevoProducto"(aceptarNuevo)="nuevo= !nuevo"> </app-nuevo-producto>
</div>
<!--  AGREGAR NUEVO JUEGOS
<div class="row" *ngIf="!nuevo">
    <input type="button" class="btn btn-success" value="Nuevo" (click)="nuevoProd()">
</div>
-->
<div class="row">
  <div class="row align-items-center col-4" *ngFor="let prod of lista" >
    <div>
      <app-producto
        [productoEntrada]="prod" (eliminarProducto)="borrar($event)">
      </app-producto>
    </div>
  </div>
</div>
<br>
