<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <img src="../favicon.ico" width="40" height="40">
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="" class="nav-link px-2 text-secondary">Home</a></li>
        <li><a routerLink="/listajuegos" class="nav-link px-2 text-white">Juegos</a></li>
        <li><a routerLink="/aboutme" class="nav-link px-2 text-white">About</a></li>
        <li><a routerLink="/estadisticas" class="nav-link px-2 text-white">Estadisticas</a></li>
        <li><a routerLink="/chat" class="nav-link px-2 text-white">Chat</a></li>

      </ul>
      <h1 class="me-lg-auto" id="idTitulo"></h1>
      <div class="text-end">
        <input type="button" class="btn btn-outline-light me-2" routerLink="/login" value="Login" *ngIf = !stadoLogin>
          <!-- <a href="../login">Login</a> -->

        <input type="button" class="btn btn-warning" routerLink="/registrarse" value="Registrarse" *ngIf = !stadoLogin >
          <!-- <a href="../registrarse">Registrarse</a> -->
        <input type="button" class="btn btn-outline-light me-2" routerLink="/premium" *ngIf = stadoLogin value="Quiere ser Premium?">
        <input type="button" class="btn btn-warning" (click)="logOut()" *ngIf = stadoLogin value="Log Out">
      </div>
    </div>
  </div>
</header>

<!-- <div align="center">
    <div>
        <a class= "btn-dark" routerLink="">Bienvenidos</a>
        <h1> Bienvenidos</h1>
    </div>
    <a class="p-3 btn btn-primary" routerLink="login">Login</a>
    <br>
    <a class="p-3 btn btn-warning"  routerLink="registrarse"> Registrarse </a>
</div> -->
<!-- <a routerLink="estadisticas"> Estadisticas </a>
<br>
<br>
<a routerLink="mijuego"> Juego Adivinar el numero </a>
<br>
<br>
<a routerLink="ahorcado"> Juego Ahorcado </a> -->
