<app-menu></app-menu>
<div class="container">
    <div>
        <div class="col-12 col-lg-auto">
            <br>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">USUARIO</th>
                <th scope="col">ADIVINA</th>
                <th scope="col">AHORCADO</th>
                <th scope="col">TA-TE-TI</th>
            </tr>
        </thead>
        <tbody>
            <tr scope = "row"  *ngFor="let us of usuarios; let odd=odd;let index=index">  
               
                <th>{{index}} </th>
                <td>{{us.usuario}}  </td>
                <td>{{us.puntaje1}} </td>
                <td>{{us.puntaje2}} </td>
                <td>{{us.puntaje3}} </td>
            </tr>
    </tbody>
</table>

</div>
