
    <!-- <div class="row">
        <div class="col-xs-6"> -->
            <ng-container *ngFor="let chat of chats | async">
                <div class="message my-message">
                    <!-- *ngIf="chat.user != this.mailLocal"  -->
                    <span>{{chat.message}}</span>
                    <div class="time ion-text-right"><br>
                        {{chat.created_at | date:'shortTime'}}
                    </div>
                </div>
            </ng-container>
            
            <label></label>
            <input placeholder="mensaje" [(ngModel)]="message">
        <button type="submit" (click)="enviarMessage()">Enviar</button>
    