<main>
    <h1>Chat</h1>
    <h2>Posteos</h2>
    <div class="container">
    <form action="">
        <input type="text" placeholder="Title" name="Title" [(ngModel)]='titleInput'>
        <textarea name="content" id="content" cols="30" rows="10" [(ngModel)]='x'></textarea>
        <button (click)="enviarPost()">Enviar</button>
    </form>
    </div>
    <button (click)="rellenarChat()">chat</button>
</main>

<!-- <div style="background-color: red;">
    <tr *ngFor="let data of lists">
        <td >{{data.user}}</td><br>
        <td >{{data.Titulo}}</td>
        
    </tr>
</div> -->