<app-menu></app-menu>
<html class="masatras">
<div >
  <h2>Adivinar el numero!</h2><br>
  <h3>Para jugar iniciar el juego ingrese Valor minimo y maximo</h3>
  <div class="atras container mp-4 py-4">
    <div class="mp-4 py-4" >
        <label >Ingrese minimo : </label>
        <input placeholder="ingrese minimo" type="number" [(ngModel)]="adivina.min">
        <label >Ingrese maximo : </label>
        <input placeholder="ingrese maximo" type="number" [(ngModel)]="adivina.max">
    </div>

    <div class="py-4">
        <input class="btn-blue" type="button" (click)="adivina.jugar()" value="Comenzar el juego">
    </div>


    <div class="py-4">
        <input type="number" maxlength="1" [(ngModel)]="intentoDelUsuario" *ngIf="adivina.control" >
    </div>

    <div class="py-4">
        <button class="btn btn-warning border-width mp-4 py-4" type="submit" (click)="comparar()" *ngIf="adivina.control"> Adivinar</button>
    </div >

    <label>{{adivina.msj}}</label>

    <li>minimo: {{adivina.min}}</li>
    <li>maximo: {{adivina.max}}</li>
    <li>intentos: {{adivina.intentos}}</li>
    <button type="button" class="btn btn-danger" value="Revelar numero" (click)=!adivina.result>
        {{adivina.valor}}
    </button>
    {{adivina.valor}}
  </div>
</div>
</html>
